/*GENERAL STYLING*/
h1 {
	width: 200px;
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', 'Times', "Times New Roman", serif;
	padding: 10px;
}
h2 {
	font-family: 'Georgia', "Times", "Times New Roman", serif;
}
header {
	background: #ffffff;
	border-color: #cccccc;
}
a {

}
body {

	background-image: url("../images/topography.png");
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
} 
.content {
	min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.container {
	float: left;
	width: 50%;
	padding: 20px;
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
}
html, body {
  height: 100%;
  margin: 0;
}
.footer,
.push {
  height: 50px;
}
footer {
	background-color: #666666;
}

/*Connect with Me Styling*/
.social-media-box {
	float: left;
	width: 20%;
	padding: 20px;
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
}

.social-media-icon {
	width: 40px;
	height: auto;
	display: inline-block;
}

/*INDEX STYLING*/
#bio-image {
	float: left;
	width: 30%;
	height: auto;
}
#bio {
	float: left;
}

/*PORTFOLIO STYLING*/
.portfolio-img {
	width: 50px;
	height: auto;
}